header{
    position: relative;
    margin-bottom: .5rem;
}

.header-text{
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
header video {
    object-fit: cover;
    object-position: center top;
    opacity: var(--video-opacity);
}

.header-text,
header video {
    width: 100vw;
    height: 90vh;
}
